<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        body {
            background-color: #01796f
        }
    </style>
</head>
<body>
<div class="container">
    <div class="col-lg-3">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Пн</th>
                <th scope="col">Вт</th>
                <th scope="col">Ср</th>
                <th scope="col">Чт</th>
                <th scope="col">Пт</th>
                <th scope="col">Сб</th>
                <th scope="col">Вс</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td> <p class="btn btn-danger"  th:text="${calendar.getMonths().get(0) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(0))} : ' _'">day </p></td>
                <td> <p class="btn btn-danger"      th:text="${calendar.getMonths().get(1) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(1))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"      th:text="${calendar.getMonths().get(2) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(2))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"      th:text="${calendar.getMonths().get(3) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(3))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"      th:text="${calendar.getMonths().get(4) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(4))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"      th:text="${calendar.getMonths().get(5) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(5))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"      th:text="${calendar.getMonths().get(6) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(6))} : ' _' ">day </p></td>
            </tr>
            <tr>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(7) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(7))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(8) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(8))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(9) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(9))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(10) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(10))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(11) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(11))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(12) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(12))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(13) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(13))} : ' _' ">day </p></td>
            </tr>
            <tr>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(14) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(14))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(15) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(15))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(16) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(16))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(17) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(17))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(18) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(18))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(19) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(19))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(20) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(20))} : ' _' ">day </p></td>
            </tr>
            <tr>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(21) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(21))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(22) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(22))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(23) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(23))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(24) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(24))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(25) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(25))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(26) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(26))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(27) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(27))} : ' _' ">day </p></td>
            </tr>
            <tr>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(28) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(28))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(29) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(29))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(30) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(30))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(31)!= null } ? ${calendar.getDayOfData(calendar.getMonths().get(31))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(32) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(32))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(33) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(33))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"     th:text="${calendar.getMonths().get(34) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(34))} : ' _' ">day </p></td>
            </tr>
            <tr>
                <td> <p class="btn btn-danger"   th:text="${calendar.getMonths().get(35) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(35))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"   th:text="${calendar.getMonths().get(36) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(36))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"   th:text="${calendar.getMonths().get(37) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(37))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"    th:text="${calendar.getMonths().get(38) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(38))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"   th:text="${calendar.getMonths().get(39) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(39))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"   th:text="${calendar.getMonths().get(40) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(40))} : ' _' ">day </p></td>
                <td> <p class="btn btn-danger"   th:text="${calendar.getMonths().get(41) != null } ? ${calendar.getDayOfData(calendar.getMonths().get(41))} : ' _' ">day </p></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5">
            <form th:action="@{/WebCalendar/Month}" th:object="${calendar}" method="post">
                <div class="form-group">
                    <label for="note">Выберите день для показа развёрнутого расписания</label>
                    <select class="form-control selectpicker" th:field="*{time}" id="note" >
                        <option th:each=" day : ${calendar.getMonthsWithoutNull()}" th:value="${T(java.lang.Long).toString(day.getTime())}" th:text="${calendar.getDayOfData(day)}">year</option>
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Принять</button>
            </form>
        </div>
    </div>
    <a th:href="@{/WebCalendar/Selection}" class="btn btn-check ">Вернуться к выбору года и месяца</a>
</div>
</body>
</html>