<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web Calendar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        body {
            background-color: #01796f
        }
    </style>
</head>
<body>
<header>
    <div class="fs-2"><p class="text-center">Планировщик задач</p></div>
</header>
<div class="fs-1">
    <p class="text-center">Чтобы начать пользоваться планировщиком необходимо войти <a href="http://localhost:8080/WebCalendar/Entry" type="button" class="btn btn-link">Войти</a></p>
    <p class="text-center">Если у вам нет учётной записи необходимо пройти регистрацию <a href="http://localhost:8080/WebCalendar/Registration" type="button" class="btn btn-link">Регистрация</a></p>
</div>
</body>
</html>